html{
	cursor: url(../imagens/mata_mosca.png) 30 30, auto; /*	Dimensoes raquete	*/
}

body{
	background-image: url(../imagens/bg.jpg);
	background-repeat: no-repeat;
}

.mosca1{

	height: 50px;
	width: 50px;
}

.mosca2{

	height: 70px;
	width: 70px;
}

.mosca3{

	height: 90px;
	width: 90px;
}

.ladoA{

	transform: scaleX(1);

}

.ladoB{

	transform: scaleX(-1);
	
}

.painel{

	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7;
}

.vidas{

	float: left;

}

.cronometro{

	float: left;
	font-size: 20px;
	font-weight: bold;
}